{% extends 'admin/base.html.twig' %}

{% block title %}New MgTaxes{% endblock %}

{% block body %}
    <h1>Create new MgTaxes</h1>

    {{ include('mg_taxes/_form.html.twig') }}

    <a href="{{ path('mg_taxes_index') }}">back to list</a>
{% endblock %}
