{% extends 'admin/base.html.twig' %}
{% block title %}Ajouter une valeur dans les propriétés{% endblock %}
{% form_theme form _self %}

{% block body %}
<div class="page-header">
	<h4 class="page-title">Gestion des valeurs</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="{{ path('dashboard') }}">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            Catalogue
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="{ path('properties_index') }">
	            Propriétés
	        </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            Valeurs
        </li>
    </ul>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Ajouter une valeur</h4>
			</div>
			<div class="card-body">
				{{ include('admin/properties/values/_form.html.twig') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
