<form method="post" action="{{ path('posts_delete', {'id': post.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger"><i class="btn-label fas fa-trash" title="Supprimer" style="font-size: 16px;"></i></button>
</form>
