{% extends 'base.html.twig' %}

{% block title %}New MgPosts{% endblock %}

{% block body %}
    <h1>Create new MgPosts</h1>

    {{ include('mg_posts/_form.html.twig') }}

    <a href="{{ path('mg_posts_index') }}">back to list</a>
{% endblock %}
